<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/megatrans4</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">admin</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <!-- DB schema will be updated if needed -->


        <mapping class="Application.Entity.ResultSurley"></mapping>
        <mapping class="Application.Entity.DateTime"></mapping>
        <mapping class="Application.Entity.NodeUrl"></mapping>
        <mapping class="Application.Entity.SystemGroup"></mapping>
        <mapping class="Application.Entity.Surley"></mapping>


    </session-factory>

</hibernate-configuration>