div {
    padding: 12px 0;
    border-bottom: 1px solid #efefef;



}

h2 {
    font-family: Tahoma;
    margin: 0;


}

form1 {
    display: inline-block;

}


input, button {
    font-size: 16px;
    padding: 4px 8px;
    border: 1px solid #efefef;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;

}



