body {
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#header {
    background: #800000;
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    margin-right: 0px;

    width: 100%;
    height: 55px;
    border: 4px double black;
}

#container {
    background: #808080;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 76%;
    height: 100%;
    border: 4px double black;

}

#navigation {
    background: #FE9798;
    text-align: left;
    width: 100%;
    height: 20px;
    border: 4px double black;

}

#sidebar {
    background: #F5F5F5;
    float: left;
    width: 35%;
    height: 280px;
    border: 4px double black;
}

#content {
    background: #DCDCDC;
    float: right;
    width: 63%;
    height: 1200px;
    border: 4px double black;
}

#clear {
    clear: both;
}

#footer {
    background: #00BFFF;
    width: 100%;
    height: 40px;
    border: 4px double black;
}