<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Title</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/table.css}" rel="stylesheet" media="screen" />
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>

</head>


<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/ControllerMainTitle/backTitle">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ControllerMainTitle/addUrls">Создание элемента</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ControllerMainTitle/reportSystem">Отчеты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row" style="background-color: #c4c4c4">

    <div class="col-md-3">

        <form action="#" th:action="@{/ControllerNodeUrl/save}" class="form-horizontal" th:object="${exchangeNodeUrl}"
              method="post">

            <div class="form-group">
                <div class="row">
                    <!--   <label for="id" class="col-xs-2 control-label">Id</label>-->
                    <div class="col">
                        <input type="text" class="form-control" th:field="*{id}" placeholder="id"
                               style="width: 60px"/>
                    </div>

                    <div class="col">
                        <!--<label for="systemGroup">Enter number system"</label>-->
                        <input type="text" class="form-control" th:field="*{number}" placeholder="num"
                               style="width: 60px"/>
                    </div>

                    <div class="col">
                        <!--   <label for="ip">IP</label>-->
                        <input type="text" class="form-control" size="10"  th:field="*{ip}"
                               placeholder="Enter ip address" style="width: 150px"/>
                    </div>
                </div>
            </div>



                <div class="form-group">
                    <!--  <label for="urlDslStatus">Url_Dsl_Status</label>-->
                    <input type="text" class="form-control" size="30" id="urlDslStatus" th:field="*{dslStatus}"
                           placeholder="Enter url dsl status" style="font-size: 14px"/>
                </div>

                <div class="form-group">
                    <!-- <label for="urlDslStatistics">Url_Dsl_Statistics</label>-->
                    <input type="text" class="form-control" size="30" id="urlDslStatistics" th:field="*{dslStatistics}"
                           placeholder="Enter url dsl statistics" style="font-size: 14px"/>
                </div>

                <div class="form-group">
                    <!--  <label for="urlAlarm">Url_Alarm</label>-->
                    <input type="text" class="form-control" size="30" id="urlAlarm" th:field="*{dslAlarm}"
                           placeholder="Enter url dsl Alarm" style="font-size: 14px"/>
                </div>

                <div class="btn">
                    <input type="submit" id="add" class="btn btn-primary" value="Add"/>
                </div>


        </form>
    </div>




<div class="col-md-2">

        <div class="col">

            <label for="systemGroupSave">Введите номер системы</label>

            <form action="#" class="form-inline" th:action="@{/ControllerSystemGroup/save}"
                  th:object="${exchangeNodeUrl}"
                  method="post">

                <div class="form-group">
                    <input type="text" class="form-control" id="systemGroupSave" size="3" th:field="*{number}"
                           style="width: 60px"/>
                </div>

                <div class="btn">
                    <input type="submit" class="btn btn-primary" value="save"/>
                </div>
            </form>
        </div>

    <div class="col">

        <label for="systemGroupDelete">Удалите номер системы</label>
        <form action="#" class="form-inline" th:action="@{/ControllerSystemGroup/Delete}"
              th:object="${exchangeNodeUrl}"
              method="get">


            <div class="form-group">
                <input type="text" class="form-control" id="systemGroupDelete" size="3" th:field="*{id}"
                       style="width: 60px"/>
            </div>

            <div class="btn" >
                <input type="submit"  class="btn btn-primary" value="Delete"/>
            </div>

        </form>
    </div>


    <div class="col">

    <label>Вывести/удалить все номера</label>


    <form action="#"  class="form-inline" th:action="@{/ControllerSystemGroup/findAll}"
          method="get">
        <div class="form-group">
        <div class="btn">
            <input type="submit" class="btn btn-primary" value="All"/>
        </div>

        </div>
    </form>

        <form action="#" class="form-inline" th:action="@{/ControllerSystemGroup/deleteAll}"
              method="get">
            <div class="form-group">
            <div class="btn">
                <input type="submit" class="btn btn-primary" value="Del"/>
            </div>
            </div>
        </form>




    </div>
</div>


<div class="col-md-2">

        <div class="col">

            <label for="numSysUrl">Введите номер системы</label>
            <form action="#" class="form-inline" id="numSysUrl" th:action="@{/ControllerNodeUrl/findByNumber}"
                  th:object="${exchangeNodeUrl}" method="get">

                <div class="form-group">
                    <input type="text" class="form-control" size="1" th:field="*{number}"
                           style="width: 60px"/>
                </div>

                <div class="btn">
                    <input type="submit" class="btn btn-primary" value="Read"/>
                </div>
            </form>


            <label for="numSysUrl">Вывести все ссылки</label>
            <form action="#" class="form-inline" id="test" th:action="@{/ControllerNodeUrl/findAll}"
                  th:object="${exchangeNodeUrl}" method="get">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="All"/>
                </div>
            </form>

            <label for="findByIp">Введите ip address</label>
            <form action="#" class="form-inline" th:action="@{/ControllerNodeUrl/findByIp}"
                  th:object="${exchangeNodeUrl}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" id="findByIp" size="10" th:field="*{ip}" style="width: 110px"/>
                </div>
                <div class="btn">
                    <input type="submit" class="btn btn-primary" value="read"/>
                </div>

            </form>
        </div>

    </div>



    <div class="col-md-2">
        <div class="col">

            <label for="deleteUrlField">Удалить ссылку</label>
            <form action="#" class="form-inline" th:action="@{/ControllerNodeUrl/deleteId}"
                  th:object="${exchangeNodeUrl}" method="post">
                <div class="form-group">
                    <input type="text" id="deleteUrlField" class="form-control" size="1" th:field="*{id}"
                                 style="width: 60px"/>
                </div>

                <div class="btn">
                    <input type="submit" id="deleteUrlbtn" class="btn btn-primary" value="Delete"/>
                </div>


            </form>


            <label for="deleteAllUrlbtn">Удалить все ссылки</label>
            <form action="#" class="form-inline" th:action="@{/ControllerNodeUrl/deleteAll}"
                  th:object="${exchangeNodeUrl}" method="post">

                <div class="btn">
                    <input type="submit" id="deleteAllUrlbtn" class="btn btn-primary" value="Delete"/>
                </div>

            </form>


        </div>
    </div>

    <div class="col-md-1">

        <div class="form-group">

            <table border="1" class="table-active" style="font-size: 16px" >
                <tr>
                    <th width="3%">Id</th>

                    <th width="3%">Num</th>

                </tr>

                <tr th:block th:each="map:${maps}" style="font-size: 16px">

                    <td th:utext="${map.getKey()}">Id</td>

                    <td th:utext="${map.getValue().number}">Number</td>


                </tr>
            </table>
        </div>

    </div>



<div class="form-group">

    <table border="1" class="table-active" style="font-size: 16px" >
        <tr>
            <th width="3%">Id</th>

            <th width="3%">Num</th>

            <th width="9%">IpNode</th>

            <th width="25%">UrlDslStatus</th>

            <th width="25%">UrlDslStatistics</th>

            <th width="25%">UrlAlarm</th>

        </tr>

        <tr th:block th:each="map:${maps0}" style="font-size: 16px">

            <td th:utext="${map.getKey()}">Id</td>

            <td th:utext="${map.getValue().number}">Number</td>

            <td th:utext="${map.getValue().ip}">Number</td>

            <td th:utext="${map.getValue().urlDslStatus}">Ip</td>

            <td th:utext="${map.getValue().urlDslStatistics}">Url</td>

        </tr>
    </table>
</div>
</div>
    </div>
</body>
</html>