<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/table.css}" rel="stylesheet" media="screen"/>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>
</head>


<body>
<br><br><br>

<div class="container">

    <form action="#" class="form-inline" th:action="@{/ControllerChart/findByIp}"
          th:object="${exchangeServiceObjectView}" method="get">
        <div class="btn">
            <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Отчёт"/>
        </div>
    </form>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

           <!-- <ul  th:each="map:${maps}">
                <ul id="date" style="display: none;"   th:utext="${map}"></ul>
            </ul>-->

            <!-- График --><div id="chart">

            <script th:inline="javascript">

                /*<![CDATA[*/
                console.log([[${maps}]]);
                var array = JSON.parse([[${maps}]]);

                /*]]>*/

                // var  array = JSON.parse(document.getElementById("date").innerHTML)



               /* console.log(typeof array);
                for (i=0; i!=array.length; i++)
                {
                    alert(array[i])
                }*/

                $(function () {
                    $("#chart").shieldChart({
                        theme: "light",
                        exportOptions: {
                            image: false,
                            print: false
                        },
                        axisX: {
                            categoricalValues: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12','13','14','15']
                        },
                        axisY: {
                            categoricalValues: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12','13','14','15']

                           /* axisTickText: {
                                        format: "{text:c}"
                            }*/,
                            title: {
                                text: "единица измерения (dB)"
                            }
                        },
                        tooltipSettings: {
                            chartBound: true
                        },
                        seriesSettings: {
                            line: {
                                enablePointSelection: true,
                                pointMark: {
                                    activeSettings: {
                                        pointSelectedState: {
                                            drawWidth: 4,
                                            drawRadius: 4
                                        }
                                    }
                                }
                            }
                        },
                        primaryHeader: {
                            text: "Цены на электроэнергию"
                        },
                        dataSeries: [{
                            seriesType: 'line',
                            collectionAlias: 'Домохозяйства',
                            data: []=array
                        }, {
                            seriesType: 'line',
                            collectionAlias: 'Промышленность',
                            data: [0.103, 0.105, 0.112, 0.111, 0.102, 0.099, 0.110, 0.113, 0.117, 0.119, 0.123, 0.117]
                        }]
                    });
                });

            </script><!-- /.График -->

        </div><!-- /.col-md-8 col-md-offset-2 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.container -->

</body>
</html>