<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/table.css}" rel="stylesheet" media="screen"/>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>
</head>


<body>
<div class="page-header" style="background-color:#800000">
    <h1 style=color:#FFFFFF>
        <small>Megatrans-4</small>
    </h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/ControllerMainTitle/backTitle">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ControllerMainTitle/addUrls">Создание элемента</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ControllerMainTitle/reportSystem">Отчеты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ControllerMainTitle/guide">Справочник</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ControllerMainTitle/chart">Графики</a>
            </li>

        </ul>
    </div>
</nav>




    <div class="row" style="background-color: #c4c4c4">

        <div class="row-md-2">

            <form action="#" class="form-inline" th:action="@{/ControllerChart/findByLocalDateAndIp}"
                  th:object="${exchangeChart}" method="get">
                <div class="form-group">

                    <input type="text" class="form-control" size="7" th:field="*{localDate1}" style="font-size: 16px"
                           placeholder="2020-08-23"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" size="8" th:field="*{ip}" style="font-size: 16px"
                           placeholder="ip."/>
                </div>

                <div class="btn">
                    <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Отчёт"/>
                </div>
            </form>

        </div>


       <div class="row-md-2">

            <form action="#" class="form-inline" th:action="@{/ControllerChart/findTop30ByOrderByIpDesc}"
                  th:object="${exchangeChart}" method="get">

                <div class="form-group">
                    <input type="text" class="form-control" size="7" th:field="*{localDate1}" style="font-size: 16px"
                           placeholder="LocalDate1"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" size="7" th:field="*{localDate2}" style="font-size: 16px"
                           placeholder="LocalDate2"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" size="8" th:field="*{ip}" style="font-size: 16px"
                           placeholder="ip."/>
                </div>

                <div class="btn">
                    <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Отчёт"/>
                </div>
            </form>

        </div>


    </div>

    <div class="row">
        <div class="col-md-12 col-md-offset-2">

           <!-- <ul  th:each="map:${maps}">
                <ul id="date" style="display: none;"   th:utext="${map}"></ul>
            </ul>-->

            <!-- График --><div id="chart">

            <script th:inline="javascript">

                var array1 = JSON.parse([[${nmrValueSide1List}]]);
                var array2 = JSON.parse([[${nmrValueSide2List}]]);


                $(function () {
                    $("#chart").shieldChart({
                        theme: "light",
                        exportOptions: {
                            image: false,
                            print: false
                        },
                        axisX: {
                            categoricalValues: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12','13','14','15']
                            , title: {
                                text: "Опросы (колличество)"
                            }
                        },


                        axisY: {
                            categoricalValues: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12','13','14','15']

                            , title: {
                                text: "единица измерения (dB)"
                            }
                        },
                        tooltipSettings: {
                            chartBound: true
                        },
                        seriesSettings: {
                            line: {
                                enablePointSelection: true,
                                pointMark: {
                                    activeSettings: {
                                        pointSelectedState: {
                                            drawWidth: 4,
                                            drawRadius: 4
                                        }
                                    }
                                }
                            }
                        },
                        primaryHeader: {
                            text: "Уровень 'сигнал/шум'"
                        },
                        dataSeries: [{
                            seriesType: 'line',
                            collectionAlias: 'Сторона А',
                            data: []=array1
                        }, {
                            seriesType: 'line',
                            collectionAlias: 'Сторона Б',
                            data: []=array2
                        }]
                    });
                });

            </script><!-- /.График -->

        </div><!-- /.col-md-8 col-md-offset-2 -->
        </div><!-- /.row -->
    </div><!-- /.container -->


</body>
</html>