<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Megatrans-4 System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>

<form action="/View/start">
    <td>

        <input type="submit" name="submit_button" value="Отправить">
    </td>
</form>

<form action="/Agent">
    <td>
        <input type="text" cols="45" size="40" th:value="${name}" id="quantity">
        <input type="submit" name="submit_button" value="Опрос">
    </td>
</form>


<table border="1">
    <tr>
        <th>Id</th>

        <th>Date</th>

        <th>IpNode</th>

        <th>erroredBlocksName</th>
        <th>erroredBlocksValue</th>

        <th>erroredSecondsName</th>
        <th>erroredSecondValue</th>

        <th>severelyErroredSecondsName</th>
        <th>severelyErroredSecondsValue</th>

        <th>severelyErroredSecondsName</th>
        <th>severelyErroredSecondsValue</th>

        <th>backgroundBlockErrorsName</th>
        <th>backgroundBlockErrorsValue</th>

        <th>esrName</th>
        <th>esrValue</th>

        <th>sersName</th>
        <th>sersValue</th>

        <th>bberName</th>
        <th>bberValue</th>

        <th>availableTimeName</th>
        <th>availableTimeValue</th>

        <th>unavailableTimeName</th>
        <th>unavailableTimeValue</th>

        <th>nmrName</th>
        <th>nmrValue</th>
        <th>nmrParametr</th>
    </tr>

    <tr th:block th:each="map:${maps}">

        <td th:utext="${map.getKey()}">Id</td>
        <td th:utext="${map.getValue().date}">Date</td>

        <td th:utext="${map.getValue().ipNode}">IpNode</td>

        <td th:utext="${map.getValue().erroredBlocksName}">Id</td>
        <td th:utext="${map.getValue().erroredBlocksValue}">Date</td>

        <td th:utext="${map.getValue().erroredSecondsName}">Id</td>
        <td th:utext="${map.getValue().erroredSecondValue}">Date</td>

        <td th:utext="${map.getValue().severelyErroredSecondsName}">Id</td>
        <td th:utext="${map.getValue().severelyErroredSecondsValue}">Date</td>

        <td th:utext="${map.getValue().backgroundBlockErrorsName}">Id</td>
        <td th:utext="${map.getValue().backgroundBlockErrorsValue}">Date</td>

        <td th:utext="${map.getValue().esrName}">Id</td>
        <td th:utext="${map.getValue().esrValue}">Date</td>

        <td th:utext="${map.getValue().sersName}">Id</td>
        <td th:utext="${map.getValue().sersValue}">Date</td>

        <td th:utext="${map.getValue().bberName}">Id</td>
        <td th:utext="${map.getValue().bberValue}">Date</td>

        <td th:utext="${map.getValue().sersName}">Id</td>
        <td th:utext="${map.getValue().sersValue}">Date</td>

        <td th:utext="${map.getValue().availableTimeName}">Id</td>
        <td th:utext="${map.getValue().availableTimeValue}">Date</td>

        <td th:utext="${map.getValue().unavailableTimeName}">Id</td>
        <td th:utext="${map.getValue().unavailableTimeValue}">Date</td>

        <td th:utext="${map.getValue().nmrName}">Id</td>
        <td th:utext="${map.getValue().nmrValue}">Date</td>
        <td th:utext="${map.getValue().nmrParametr}">Date</td>

    </tr>



</table>
</body>
</html>