<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Megatrans-4 System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/table.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/button.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
</head>

<body>




<div id="container">

    <div id="header">
        <h2>Система передачи данных Megatrans-4</h2>
    </div>


    <div id="navigation", >


    </div>





    <div id="sidebar1">

        <h2>Мониторинг состояния системы</h2>

        <form action="/View/analizNodeData">
            <td>
                <input type="submit" name="submit_button" value="Отправить">
            </td>
        </form>


        <form action="/Agent">
            <td>
                <input type="text" cols="40" size="30" th:value="${name}" id="quantity">
                <input type="submit" name="submit_button" value="Опрос">
            </td>

        </form>

    </div>

    <div id="sidebar2">


        <h2>Анализ статистики системы</h2>

        <form action="#" th:action="@{/View/analizNodeData}" th:object="${exchangeService}" method="post">
            <p>Id: <input type="text" th:field="*{ipAddress}" /></p>
            <p><input type="submit" value="Submit" /></p>
        </form>


        <form action="#" th:action="@{/View/analizDateTimeSystemReport}" th:object="${exchangeService}" method="post">
            <p>Id: <input type="text" th:field="*{dateTime}" /></p>
            <p><input type="submit" value="Submit" /></p>
        </form>



        <form action="">
            <td>
                <input type="submit" name="submit_button" value="Опрос">
            </td>

        </form>

    </div>




    <div id="content">
        <h2>Анализ данных узла</h2>

        <table border="1">
            <tr>
                <th>Id</th>

                <th>Date</th>

                <th>IpNode</th>

                <th>
                    errored
                    Blocks</th>

                <th>
                    errored
                    Seconds</th>

                <th>
                    severely
                    Errored
                    Seconds</th>

                <th>
                    background
                    Block
                    Errors</th>

                <th>esr[%]</th>


                <th>sers[%]</th>


                <th>bber[%]</th>


                <th>available
                    Time</th>

                <th>unavailable
                    Time</th>

                <th>nmr dB</th>

            </tr>

            <tr th:block th:each="map:${maps}">

                <td th:utext="${map.getKey()}">Id</td>
                <td th:utext="${map.getValue().localDateTime}">Date</td>

                <td th:utext="${map.getValue().ipNode}">IpNode</td>

                <td th:utext="${map.getValue().erroredBlocksValue}">erroredBlocks</td>

                <td th:utext="${map.getValue().erroredSecondValue}">erroredSeconds</td>

                <td th:utext="${map.getValue().severelyErroredSecondsValue}">severelyErroredSeconds</td>

                <td th:utext="${map.getValue().backgroundBlockErrorsValue}">backgroundBlockErrors</td>

                <td th:utext="${map.getValue().esrValue}">esr[%]</td>

                <td th:utext="${map.getValue().sersValue}">sers[%]</td>

                <td th:utext="${map.getValue().bberValue}">bber[%]</td>

                <td th:utext="${map.getValue().availableTimeValue}">availableTime</td>

                <td th:utext="${map.getValue().unavailableTimeValue}">unavailableTime</td>

                <td th:utext="${map.getValue().nmrValue}">nmr dB</td>
            </tr>
        </table>

    </div>

    <div id="clear">

    </div>


    <div id="footer">
        <h2>footer (низ сайта)</h2>
    </div>


</div>
</body>
</html>