<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Megatrans-4 System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/Interface.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/table.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/button.css}" rel="stylesheet" media="screen" />

</head>

<body>

<div id="container">


<div id="header">
    <h2>Система передачи данных Megatrans-4</h2>
</div>





<div id="sidebar">

    <form action="#" th:action="@{/ControllerNodeBase/findByLocalDate}" th:object="${exchangeServiceObjectView}"  method="post">
        Date:<input type="text" size="20" th:field="*{localDate}"/>
        <input type="submit" value="Report" />
    </form>

</div>


    <div id="content0">

        <table border="1">
            <tr>
                <th width="10%">Id</th>

                <th width="20%">DateTime</th>

                <th width="20%">IpNode</th>

                <th width="50%">Hash</th>




            </tr>

            <tr th:block th:each="map:${maps}">

                <td th:utext="${map.getKey()}">Id</td>

                <td th:utext="${map.getValue().localDateTime}">DateTime</td>

                <td th:utext="${map.getValue().ip}">IpNode</td>

                <td th:utext="${map.getValue().hash}">Hash</td>





            </tr>
        </table>

    </div>
</div>


</body>
</html>