<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
    <title>Megatrans-4 System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/table.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/margen.css}" rel="stylesheet" media="screen" />


    
</head>
<body>

<form action="/">
    <td>

        <input type="submit" name="submit_button" value="Назад">
    </td>
</form>

<div>

    <table border="1" cellpadding="4" cellspacing="0" >
        <caption>UAVR</caption>

        <tr>
            <th >Parametr</th>

            <th>ОП Георгиевск</th>

            <th>НУП7</th>
            <th></th>

            <th>НУП6</th>
            <th></th>

            <th>ОП УАВР</th>

        </tr>



</table>

</div>

<div>

<table border="1" cellpadding="4" cellspacing="0" >
    <caption>System №5</caption>

    <tr>
        <th >Parametr</th>

        <th>ОП Георгиевск</th>

        <th>НУП7</th>
        <th></th>

        <th>НУП6</th>
        <th></th>

        <th>НУП5</th>
        <th></th>

    </tr>

</table>

</div>

<div>
<table border="1" cellpadding="4" cellspacing="0" >
    <caption>System №6</caption>
    <tr>
        <th >Parametr</th>

        <th>ОП Георгиевск</th>

        <th>НУП7</th>
        <th></th>

        <th>НУП6</th>
        <th></th>

        <th>НУП5</th>
        <th></th>

    </tr>

</table>

</div>


<div>
    <table border="1" cellpadding="4" cellspacing="0" >
        <caption>System №7</caption>
        <tr>
            <th >Parametr</th>

            <th>ОП Георгиевск</th>

            <th>НУП7</th>
            <th></th>

            <th>НУП6</th>
            <th></th>

            <th>НУП5</th>
            <th></th>

        </tr>

    </table>

</div>

</body>
</html>