<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/table.css}" rel="stylesheet" media="screen"/>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/ControllerMainTitle/backTitle">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ControllerMainTitle/addUrls">Создание элемента</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ControllerMainTitle/reportSystem">Отчеты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>


<div class="row" style="width: 100%">


    <div class="col-md-2">

        <div class="form-group" style="background-color: #c4c4c4">

            <form action="#" class="form-inline" th:action="@{/ControllerResultSurley/findByDate}"
                  th:object="${exchangeServiceObjectView}"
                  method="post">
                <div class="form-group">
                    <input type="text" class="form-control" size="22" th:field="*{localDate}" style="font-size: 16px"
                           placeholder="Report on date."/>
                </div>
                <div class="btn">
                    <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Report"/>
                </div>
            </form>

            <form action="#" class="form-inline" th:action="@{/ControllerResultSurley/findByDateAndIpAndHash}"
                  th:object="${exchangeServiceObjectView}"
                  method="post">
                <div class="form-group">
                    <input type="text" class="form-control" size="8" th:field="*{localDate}" style="font-size: 16px"
                           placeholder="Date."/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" size="8" th:field="*{ip}" style="font-size: 16px"
                           placeholder="ip."/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" size="22" th:field="*{hash}" style="font-size: 16px"
                           placeholder="Hash."/>
                </div>


                <div class="btn">
                    <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Report"/>
                </div>
            </form>


            <form action="#" class="form-inline" th:action="@{/ControllerResultSurley/findByDateAndNumberAndHash}"
                  th:object="${exchangeServiceObjectView}"
                  method="post">
                <div class="form-group">
                    <input type="text" class="form-control" size="8" th:field="*{localDate}" style="font-size: 16px"
                           placeholder="Date."/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" size="1" th:field="*{number}" style="font-size: 16px"
                           placeholder="№"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" size="22" th:field="*{hash}" style="font-size: 16px"
                           placeholder="Hash."/>
                </div>


                <div class="btn">
                    <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Report"/>
                </div>
            </form>

            <form action="#" class="form-inline" th:action="@{/ControllerResultSurley/findBylocalDateAndIp}"
                  th:object="${exchangeServiceObjectView}" method="post">
                <div class="form-group">

                    <input type="text" class="form-control" size="7" th:field="*{localDate}" style="font-size: 16px"
                           placeholder="Date."/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" size="8" th:field="*{ip}" style="font-size: 16px"
                           placeholder="ip."/>
                </div>

                <div class="btn">
                    <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Report"/>
                </div>
            </form>


        </div>

    </div>
    <div class="col-md-2" style="background-color: #c4c4c4">

        <form action="#" class="form-inline" th:action="@{/ControllerResultSurley/findByHash}"
              th:object="${exchangeServiceObjectView}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" size="22" th:field="*{hash}" style="font-size: 16px"
                       placeholder="Report on hash."/>
            </div>
            <div class="btn">
                <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Report"/>
            </div>
        </form>




        <form action="#" class="form-inline" th:action="@{/ControllerResultSurley/findByLocalDateTime}"
              th:object="${exchangeServiceObjectView}" method="post">

            <div class="form-group">
                <input type="text" class="form-control" size="22" th:field="*{localDateTime}" style="font-size: 16px"
                       placeholder="Report on DateTime."/>
            </div>
            <div class="btn">
                <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Report"/>
            </div>
        </form>

        <form action="#" class="form-inline" th:action="@{/ControllerResultSurley/deleteByHash}"
              th:object="${exchangeServiceObjectView}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" size="22" th:field="*{hash}" style="font-size: 16px"
                       placeholder="Delete on hash."/>
            </div>
            <div class="btn">
                <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Delete"/>
            </div>
        </form>

        <div class="row">
            <form action="#" class="form-inline" th:action="@{/ControllerResultSurley/reportSystem}"
                  th:object="${exchangeServiceObjectView}" method="post">
                <div class="btn">
                    <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Report_save_exel"/>
                </div>
            </form>

            <form action="#" class="form-inline" th:action="@{/ControllerResultSurley/findTop50ById}"
                  th:object="${exchangeServiceObjectView}" method="post">


                <div class="btn">
                    <input type="submit" class="btn btn-primary" style="font-size: 16px" value="Last_50_entries"/>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="row" style="width: 100%">

    <div class="col-md-12">
        <table border="1" cellpadding="4" cellspacing="0" width="100%" style="background-color: #c4c4c4" id="stq"
               class='pq-grid-summary'>

            <tr style="font-size:15px">
                <th width="2%">Id</th>
                <th width="8%">Hash</th>
                <th width="3%">Num</th>
                <th width="5%">Date</th>
                <th width="4%">IpNode</th>
                <th width="4%">Temp_C°</th>

                <th colspan="2">
                    errored
                    Blocks
                </th>

                <th colspan="2">
                    errored
                    Seconds
                </th>

                <th colspan="2">
                    severely
                    Errored
                    Seconds
                </th>

                <th colspan="2">
                    background
                    Block
                    Errors
                </th>

                <th colspan="2">esr[%]</th>


                <th colspan="2">sers[%]</th>


                <th colspan="2">bber[%]</th>


                <th colspan="2">available
                    Time
                </th>

                <th colspan="2">unavailable
                    Time
                </th>

                <th colspan="2">nmr dB</th>

            </tr>


            <tr th:block th:each="map:${maps}" style="font-size: 13px">

                <td th:utext="${map.getKey()}">Id</td>

                <td th:utext="${map.getValue().hash}">Hash</td>
                <td th:utext="${map.getValue().number}"></td>
                <td th:utext="${map.getValue().localDateTime}"></td>
                <td th:utext="${map.getValue().ip}"></td>
                <td th:utext="${map.getValue().temperatureValue}"></td>


                <td th:utext="${map.getValue().erroredBlocksValueSide1}"></td>
                <td th:utext="${map.getValue().erroredBlocksValueSide2}"></td>


                <td th:utext="${map.getValue().erroredSecondValueSide1}"></td>
                <td th:utext="${map.getValue().erroredSecondValueSide2}"></td>


                <td th:utext="${map.getValue().severelyErroredSecondsValueSide1}"></td>
                <td th:utext="${map.getValue().severelyErroredSecondsValueSide2}"></td>


                <td th:utext="${map.getValue().backgroundBlockErrorsValueSide1}"></td>
                <td th:utext="${map.getValue().backgroundBlockErrorsValueSide2}"></td>

                <td th:utext="${map.getValue().esrValueSide1}"></td>
                <td th:utext="${map.getValue().esrValueSide2}"></td>


                <td th:utext="${map.getValue().sesrValueSide1}"></td>
                <td th:utext="${map.getValue().sesrValueSide2}"></td>


                <td th:utext="${map.getValue().bberValueSide1}"></td>
                <td th:utext="${map.getValue().bberValueSide2}"></td>


                <td th:utext="${map.getValue().availableTimeValueSide1}"></td>
                <td th:utext="${map.getValue().availableTimeValueSide2}"></td>


                <td th:utext="${map.getValue().unavailableTimeValueSide1}"></td>
                <td th:utext="${map.getValue().unavailableTimeValueSide2}"></td>


                <td th:utext="${map.getValue().nmrValueSide1}"></td>
                <td th:utext="${map.getValue().nmrValueSide2}"></td>


            </tr>

        </table>
    </div>


</div>
</div>

</body>
</html>