<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/table.css}" rel="stylesheet" media="screen" />
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/ControllerMainTitle/backTitle">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ControllerMainTitle/addUrls">Создание элемента</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ControllerMainTitle/reportSystem">Отчеты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>


<div class="row" style="width: 100%">


    <div class="col-md-2" >

        <div class="form-group" style="background-color: #c4c4c4">

        <form action="#" class="form-inline" th:action="@{/ControllerNodeBase/findByDate}" th:object="${exchangeServiceObjectView}"
              method="post">
            <div class="form-group">
            <input type="text" class="form-control" size="15" th:field="*{localDate}" placeholder="Report on date." />
            </div>
            <div class="btn">
            <input type="submit" class="btn btn-primary" value="Report"/>
            </div>
        </form>


        <form action="#" class="form-inline" th:action="@{/ControllerReport/reportSystem}" th:object="${exchangeServiceObjectView}"   method="post">
            <div class="form-group">
            <input type="text" class="form-control" size="15" th:field="*{localDateTime}" placeholder="Report save exel." />
            </div>
            <div class="btn">
            <input type="submit" class="btn btn-primary" value="Report" />
            </div>
        </form>

        <form action="#" class="form-inline" th:action="@{/ControllerNodeBase/findByLocalDateTime}" th:object="${exchangeServiceObjectView}"   method="post">

            <div class="form-group">
            <input type="text" class="form-control" size="15" th:field="*{localDateTime}" placeholder="Report on DateTime." />
            </div>
            <div class="btn">
            <input type="submit" class="btn btn-primary" value="Report" />
            </div>
        </form>

        <form action="#" class="form-inline" th:action="@{/ControllerNodeBase/findByHash}" th:object="${exchangeServiceObjectView}"  method="post">
            <div class="form-group">
            <input type="text" class="form-control" size="15" th:field="*{hash}" placeholder="Report on hash." />
                </div>
                <div class="btn">
            <input type="submit" class="btn btn-primary" value="Report" />
                </div>
        </form>

        <form action="#" class="form-inline" th:action="@{/ControllerNodeBase/findByIp}" th:object="${exchangeServiceObjectView}"   method="post">
            <div class="form-group">
            <input type="text" class="form-control" size="15" th:field="*{ip}" placeholder="Report on ip."/>
            </div>
            <div class="btn">
            <input type="submit" class="btn btn-primary" value="Report" />
            </div>
        </form>

        <form action="#" class="form-inline" th:action="@{/ControllerNodeBase/deleteByHash}" th:object="${exchangeServiceObjectView}"   method="post">
            <div class="form-group">
            <input type="text" class="form-control"size="15" th:field="*{hash}" placeholder="Report on hash."/>
            </div>
            <div class="btn">
            <input type="submit" class="btn btn-primary" value="Delete" />
            </div>
        </form>

        </div>


            <table border="1" style="background-color: #c4c4c4"  >
                <tr style="font-size: 12px">

                    <th width="10%">Id</th>

                    <th width="25%">DateTime</th>

                    <th width="20%">IpNode</th>

                    <th width="45%">Hash</th>


                </tr>

                <tr th:block th:each="map:${maps0}" style="font-size: 10px">

                    <td th:utext="${map.getKey()}">Id</td>

                    <td th:utext="${map.getValue().localDateTime}">DateTime</td>

                    <td th:utext="${map.getValue().ip}">IpNode</td>

                    <td th:utext="${map.getValue().hash}">Hash</td>

                </tr>
            </table>


    </div>



    <div class="col-md-10">
        <table border="1" cellpadding="4" cellspacing="0" width="100%"  style="background-color: #c4c4c4" id="stq" class='pq-grid-summary'>

            <tr style="font-size:12px">
                <th width="2%">Id</th>

                <th width="5%">Date</th>

                <th width="4%">IpNode</th>

                <th colspan="2">
                    errored
                    Blocks
                </th>

                <th colspan="2">
                    errored
                    Seconds
                </th>

                <th colspan="2">
                    severely
                    Errored
                    Seconds
                </th>

                <th colspan="2">
                    background
                    Block
                    Errors
                </th>

                <th colspan="2">esr[%]</th>


                <th colspan="2">sers[%]</th>


                <th colspan="2">bber[%]</th>


                <th colspan="2">available
                    Time
                </th>

                <th colspan="2">unavailable
                    Time
                </th>

                <th colspan="2">nmr dB</th>

            </tr>


            <tr th:block th:each="map:${maps}" style="font-size: 10px">

                <td th:utext="${map.getKey()}">Id</td>
                <td th:utext="${map.getValue().localDateTime}"></td>
                <td th:utext="${map.getValue().ip}"></td>


                <td th:utext="${map.getValue().erroredBlocksValueSide1}"></td>
                <td th:utext="${map.getValue().erroredBlocksValueSide2}"></td>


                <td th:utext="${map.getValue().erroredSecondValueSide1}"></td>
                <td th:utext="${map.getValue().erroredSecondValueSide2}"></td>


                <td th:utext="${map.getValue().severelyErroredSecondsValueSide1}"></td>
                <td th:utext="${map.getValue().severelyErroredSecondsValueSide2}"></td>


                <td th:utext="${map.getValue().backgroundBlockErrorsValueSide1}"></td>
                <td th:utext="${map.getValue().backgroundBlockErrorsValueSide2}"></td>

                <td th:utext="${map.getValue().esrValueSide1}"></td>
                <td th:utext="${map.getValue().esrValueSide2}"></td>


                <td th:utext="${map.getValue().sesrValueSide1}"></td>
                <td th:utext="${map.getValue().sesrValueSide2}"></td>


                <td th:utext="${map.getValue().bberValueSide1}"></td>
                <td th:utext="${map.getValue().bberValueSide2}"></td>


                <td th:utext="${map.getValue().availableTimeValueSide1}"></td>
                <td th:utext="${map.getValue().availableTimeValueSide2}"></td>


                <td th:utext="${map.getValue().unavailableTimeValueSide1}"></td>
                <td th:utext="${map.getValue().unavailableTimeValueSide2}"></td>


                <td th:utext="${map.getValue().nmrValueSide1}"></td>
                <td th:utext="${map.getValue().nmrValueSide2}"></td>


            </tr>

        </table>
    </div>


</div>


</div>


</div>
</div>

</body>
</html>