<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
    <title>Megatrans-4 System</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/table.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/button.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/reportSystem.css}" rel="stylesheet" media="screen" />
</head>
<body>


<div id="container">

    <form action="#" th:action="@{/ControllerRead/findAllDateTime}" method="get">
        TestAll:<input type="submit" value="read" />
    </form>


    <div id="content">

        <table border="1">
            <tr>
                <th width="5%">Id</th>

                <th width="15%">Date</th>

                <th width="15%">Time</th>

                <th width="20%">DateTime</th>

                <th width="20%">Timestamp</th>

                <th width="35%">Hash</th>




            </tr>

            <tr th:block th:each="map:${maps}">

                <td th:utext="${map.getKey()}">Id</td>

                <td th:utext="${map.getValue().localDate}">Date</td>

                <td th:utext="${map.getValue().localTime}">Time</td>

                <td th:utext="${map.getValue().localDateTime}">DateTime</td>

                <td th:utext="${map.getValue().timestamp}">Timestamp</td>

                <td th:utext="${map.getValue().hash}">Hash</td>




            </tr>
        </table>

    </div>

    <div id="clear">

    </div>


</div>

</body>
</html>