<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/table.css}" rel="stylesheet" media="screen"/>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/bootstrap.js"></script>


    <link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/shieldui/style.css"/>
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>


</head>
<body>

<div class="page-header" style="background-color:#800000">
    <h1 style=color:#FFFFFF>
        <small>Megatrans-4</small>
    </h1>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/ControllerMainTitle/backTitle">Главная<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ControllerMainTitle/addUrls">Создание элемента</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ControllerMainTitle/reportSystem">Отчеты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>

<div class="row">

    <div class="col-md-3">

        <div class="col">

            <form action="#" class="form-inline" th:action="@{/ControllerAgent/savePathConfiguration}"
                  th:object="${exchangeAgent}"
                  method="get">

                <div class="form-group">
                    <label>Указать путь загрузки exel файла с сервера</label>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" size="20" th:field="*{clientDirectory}"
                           placeholder="C:/Windows/Temp/"
                           style="width: 300px"/>
                </div>


                <div class="form-group">
                    <label>Указать путь выгрузки exel файла на сервере</label>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" size="20" th:field="*{serverDirectory}"
                           placeholder="C:/Windows/Temp/"
                           style="width: 300px"/>

                    <div class="btn">
                        <input type="submit" class="btn btn-primary" value="add"/>
                    </div>

                </div>



            </form>

        </div>
    </div>


    <div class="col-md-2">
        <div class="col">
            <form action="#" class="form-inline" th:action="@{/ControllerAgent/findAllPathConfiguration}"
                  th:object="${exchangeAgent}"
                  method="get">

                <div class="btn">
                    <input type="submit" class="btn btn-primary" value="all"/>
                </div>

            </form>
        </div>

        <div class="col">
            <form action="#" class="form-inline" th:action="@{/ControllerAgent/deletePathConfiguration}"
                  th:object="${exchangeAgent}"
                  method="post">

                <div class="btn">
                    <input type="submit" class="btn btn-primary" value="delete"/>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{id}" placeholder="id" style="width: 60px"/>
                </div>
            </form>
        </div>


        <div class="col">
            <form action="#" class="form-inline" th:action="@{/ControllerAgent/deleteAllPathConfiguration}"
                  th:object="${exchangeAgent}"
                  method="post">

                <div class="btn">
                    <input type="submit" class="btn btn-primary" value="deleteAll"/>
                </div>
            </form>
        </div>


    </div>


    <div class="col-md-5">
        <table border="1" style="background-color: #c4c4c4">
            <tr style="font-size: 16px">

                <th width="10%">Id</th>

                <th width="40%">path_client_directory</th>

                <th width="50%">path_server_directory</th>

            </tr>


            <tr th:block th:each="map:${maps}" style="font-size: 16px">

                <td th:utext="${map.getKey()}">Id</td>

                <td th:utext="${map.getValue().pathClientDirectory}">path_client_directory</td>

                <td th:utext="${map.getValue().pathServerDirectory}">path_server_directory</td>

            </tr>
        </table>
    </div>

</div>


<div class="row">
    <div class="col-md-3">

        <div class="col">
            <label>Периодичность опроса в миллисекундах</label>
            <form action="#" class="form-inline" th:action="@{/ControllerAgent/setTime}"
                  th:object="${exchangeAgent}"
                  method="get">

                <div class="form-group">
                    <input type="text" class="form-control" size="20" th:field="*{timeS}"
                           style="width: 150px" placeholder="20000"/>
                </div>

                <div class="btn">
                    <input type="submit" class="btn btn-primary" value="change"/>
                </div>
            </form>
        </div>


        <div class="col">
            <label>Опрос системы</label>
            <form action="#" class="form-inline" id="taskStart" th:action="@{/ControllerAgent/taskStart}"

                  method="get">

                <div class="btn">
                    <input type="submit" class="btn btn-primary" value="start"/>
                </div>
            </form>
        </div>

        <div class="col">
            <form action="#" class="form-inline" id="taskStop" th:action=" @{/ControllerAgent/taskStop}"
                  method="get">

                <div class="btn">
                    <input type="submit" class="btn btn-primary" value="stop"/>
                </div>
            </form>
        </div>
    </div>


    <div class="col-md-3">

        <div class="col">

            <form action="#" class="form-inline" th:action="@{/ControllerAgent/saveTimePeriod}"
                  th:object="${exchangeAgent}"
                  method="get">


                <div class="form-group">
                    <div class="col">
                    <div class="form-group">
                        <label>Время опроса в миллисекундах</label>
                    </div>

                    <input type="text" class="form-control" size="20" th:field="*{timeS}"
                           placeholder="Mm"
                           style="width: 150px"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col">
                    <div class="form-group">
                        <label>Описание</label>
                    </div>
                    <input type="text" class="form-control" size="20" th:field="*{description}"
                           placeholder="Text"
                           style="width: 150px"/>

                        <div class="btn">
                            <input type="submit" class="btn btn-primary" value="add"/>
                        </div>
                    </div>
                </div>



            </form>

        </div>
    </div>


        <div class="col-md-2">
            <div class="col">
                <form action="#" class="form-inline" th:action="@{/ControllerAgent/findAllPeriodS}"
                      th:object="${exchangeAgent}"
                      method="get">

                    <div class="btn">
                        <input type="submit" class="btn btn-primary" value="all"/>
                    </div>

                </form>
            </div>

            <div class="col">
                <form action="#" class="form-inline" th:action="@{/ControllerAgent/findPeriodS}"
                      th:object="${exchangeAgent}"
                      method="post">

                    <div class="btn">
                        <input type="submit" class="btn btn-primary" value="change"/>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{id}" placeholder="id" style="width: 60px"/>
                    </div>
                </form>
            </div>

            <div class="col">
                <form action="#" class="form-inline" th:action="@{/ControllerAgent/deletePeriodS}"
                      th:object="${exchangeAgent}"
                      method="post">

                    <div class="btn">
                        <input type="submit" class="btn btn-primary" value="delete"/>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" th:field="*{id}" placeholder="id" style="width: 60px"/>
                    </div>
                </form>
            </div>


            <div class="col">
                <form action="#" class="form-inline" th:action="@{/ControllerAgent/deleteAllPeriodS}"
                      th:object="${exchangeAgent}"
                      method="post">

                    <div class="btn">
                        <input type="submit" class="btn btn-primary" value="deleteAll"/>
                    </div>
                </form>
            </div>

        </div>

    <div class="col-md-3">
        <table border="1" style="background-color: #c4c4c4">
            <tr style="font-size: 16px">

                <th width="10%">Id</th>

                <th width="30%">period</th>

                <th width="60%">description</th>



            </tr>


            <tr th:block th:each="map:${maps0}" style="font-size: 16px">
                <td th:utext="${map.getKey()}">Id</td>
                <td th:utext="${map.getValue().period}">period</td>
                <td th:utext="${map.getValue().description}">description</td>
            </tr>
        </table>
    </div>

</div>


</body>
</html>


<!--<div class="col">
    <form action="#" class="form-inline"   th:action=" @{/ControllerChart/findByIp}"
          th:object="${exchangeChart}"
          method="get" >

        <div class="form-group">
            <input type="text" class="form-control" size="15" th:field="*{ip}"   placeholder="Report on ip."/>
        </div>

        <div class="btn">
            <input type="submit"  class="btn btn-primary" value="ip"/>
        </div>
    </form>
</div>-->


<!--

<br><br><br>


<div class="col-md-8 col-md-offset-2">


    &lt;!&ndash; График &ndash;&gt;
    <div id="chart"></div>

    <script th:inline="javascript">


        $(function () {
            $("#chart").shieldChart({
                theme: "light",
                primaryHeader: {
                    text: "Параметры опроса узла"
                },
                exportOptions: {
                    image: false,
                    print: false
                },
                axisY: [{
                    min: -20,
                    max: 20,
                    title: {
                        text: 'Уровень NMR',
                        style: {
                            color: '#4DB0F5'
                        }
                    },
                    axisTickText: {
                        style: {
                            color: '#4DB0F5'
                        }
                    }
                }, {
                    min: -20,
                    max: 20,
                    title: {
                        text: 'Уровень NMR',
                        style: {
                            color: '#4DB0F5'
                        }
                    },
                    swapLocation: true,
                    axisTickText: {
                        style: {
                            color: '#FF1800'
                        }
                    }
                }],
                dataSeries: [{
                    seriesType: 'line',
                    axis: 0,
                    collectionAlias: "NMR",
                    data: [arr]
                },]
            });
        });
    </script>&lt;!&ndash; /.График &ndash;&gt;

</div>&lt;!&ndash; /.col-md-8 col-md-offset-2 &ndash;&gt;
&lt;!&ndash; /.row &ndash;&gt;
-->


